<link rel="stylesheet" type="text/css" href="style.css" />
<h1 class="h1-landing-page">Hi <%= name %> </h1>
<form class="logout-button" action="/logout?_method=DELETE" method="POST">
    <button class="logout" type="submit">Log Out</button></form>